
.site__entete {
    grid-area: header;
    width: 100vw;
}
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
    

    p{
      color: whitesmoke;
    }
  }
  .blocflex__menu{

    grid-area: evenement;
    
  }
 
.site__aside {
    grid-area: aside;
  border: 5px 15px solid black;
  background-color: rgb(97, 97, 97);
  height: 100%;

    li{
      margin-bottom: 2rem;
      list-style-type: square;

    }
  }

.site {

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "evenement"
      "footer";


  
    @media screen and (min-width: 1000px) {
      grid-template-columns: 30% auto;
      grid-template-areas:
        "header header header header header"
        "aside main main main main "
        "evenement main main main main "
        "footer footer footer footer footer";
    }
    .no-aside {
      grid-template-areas:
      "header"
      "main"
      "footer";
      @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: auto;
        grid-template-areas:
        "header header header header header header"
        "aside main main main main evenement"
        "footer footer footer footer footer footer";;
      }
    }
  }
