// .blocflex {
//     display : flex;
//     justify-content: space-between;
//     flex-wrap: wrap;

//     article {
//         flex: 1 0 200px;
//         border : 1px solid #aaa;
//         padding : 10px;
//     }
// }
main{
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 5px 15px;
  padding-bottom: 15px;

}
.blocflex{

  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 70%;
  height: 50vh;
  scroll-padding: 24px;
  gap: 12px;
  margin: 2rem auto;
  border: 2px solid black;
  border-radius: 8px;
  


  .enfant_machin{
    flex: 0 0 40%;
    padding: 2rem 2rem 4rem 2rem;
    font-size: 0.7rem;
    box-sizing: border-box;
    border-radius: 8px;
    scroll-snap-align: start;
    box-shadow: 5px 5px 10px;
    scrollbar-color: red;
  }

//   &:-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey; 
//     border-radius: 10px;
//   }
//   /* Handle */
//   &:-webkit-scrollbar-thumb {
//   background: red; 
//   border-radius: 10px;
// }

// /* Handle on hover */
//   &:-webkit-scrollbar-thumb:hover {
//   background: #b30000; 
// }

}




// .blocflex {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     // Cette déclaration sera meilleur quand min() sera mieux supporté
//     // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
//     gap: 2rem;
//     margin: 2rem;
  
//     article {
//       border: 1px solid #3a3a3a;
//       box-shadow: 10px 10px 25px;
//       padding: 1rem;
//       border-radius: 15px;
//     }
//   }
