form{
    display: flex;
    background-color: transparent;
    .recherche__input{
        border-radius: 25px;
    }
    .recherche__bouton{
        font-size: 1.5rem;
        background-color: transparent;
        color: white;
    }
    .recherche__icone{
        
    }
}