.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
align-items: center;
margin-left: 3rem;

}

.site__footer section {
    flex : 1 1  200px;
}
#menu__bas_de_page{

    display: flex;
    flex-direction: column;
}