

.chaque_recherche{

    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;
    border: 1px solid #3a3a3a;
    box-shadow: 10px 10px 25px;
    padding: 1rem;
    border-radius: 15px;
    background-color: #a7a7a7;

    .titre_recherche{
        display: flex;
        justify-content: center;
        
        
    }
    .contenu_recherche{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.5rem;
    }
    .info-cours{
        display: flex;
    }

    @media screen and (min-width: $largeur__bureau) {
        display: flex;
      }
}
