/* Les balise qu'on utilse dans la conversion des fichiers markdown */

/* Liste */
ul,ol{}

li{
    margin: 0rem 2rem;
}
ul{
    list-style: none;
}


ul>li>ul{
    list-style-type: square;
}


/* ----------------------------  pre */

pre {
    margin: 2rem;
}

code {
    border: 2px solid black;
    display: flex;
    height: 30vh;
    overflow-y: scroll;
    padding-left: 2rem;

}



blockquote {
    color: rgb(57, 57, 57);
}

hr {}

strong,b,i,em {
    font-size: 1.3rem;
}





